%tr
  %td
    = link_to raid_team.name , raid_team_path( raid_team )
  %td
    = link_to edit_raid_team_path( raid_team ) do
      %i{ class: 'icon-pencil' }
      Edit Name
    = link_to raid_team_path( raid_team ) , remote: true , method: 'delete' do
      %i{ class: 'icon-trash' }
      Delete